.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  width: 90%;
  max-width: 700px;
  height: auto;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 30%;
  max-width: 200px;
}

.cartItem .description {
  width: 70%;
  font-size: 20px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 50%;
  max-width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cartItem {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .cartItem img {
    width: 100%;
    max-width: none;
    margin-bottom: 10px;
  }

  .cartItem .description {
    width: 100%;
    font-size: 18px;
  }

  .checkout button {
    width: 100%;
    max-width: none;
  }
}
