.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px; /* Adjust the height as needed */
}

.header-content {
  flex: 1;
  margin-left: 40px;
  padding-right: 30px; /* Adjust as needed */
}

.header-text h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: "Londrina Solid", sans-serif;
  font-weight: ultra-bold;
  font-style: normal;
  color: #007bff;
}

.header-text p {
  font-size: 28px;
  margin-bottom: 20px;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.header-input button {
  padding: 10px 20px;
  background-color: #007bff;
  border-radius: 30px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.header-input button:hover{
  background: rgb(213, 45, 73);
}

.header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image img {
  width: 75%; /* Occupy 75% of the container */
  height: auto;
  max-height: 75%; /* Limit height to maintain aspect ratio */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .header-container {
    height: auto; /* Reset height for smaller screens */
    flex-direction: column;
    text-align: center;
  }

  .header-content {
    padding-right: 0;
   
  }

  .header-image {
    margin-top: 20px;
  }

  .header-image img {
    width: 100%; /* Occupy full width on smaller screens */
    max-width: 100%;
  }
}
