.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ba2163; /* Set background color */
  color: #fff; /* Set text color */
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  
}

.logo img {
  width: 80px; /* Adjust logo size */
  margin-left: 20px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.links a {
  color: #fff; /* Set link color */
  text-decoration: none;
  margin-right: 20px;
}

.links a:last-child {
  margin-right: 0;
}

.mobile-menu-icon {
  display: none; /* Hide by default */
  cursor: pointer;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .links {
    display: none; /* Hide links on smaller screens */
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #333; /* Set background color for mobile menu */
    padding: 20px;
    text-align: center;
  }

  .links.active {
    display: flex; /* Show links when mobile menu is active */
  }

  .mobile-menu-icon {
    display: block; /* Show mobile menu icon on smaller screens */
  }
}
