/* search.css */

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px; /* Adjust the maximum width as needed */
  }
  
  .filter-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
  }
  
  .input-field {
    flex: 1;
    padding: 15px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .search-button {
    padding: 8px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .sort-by {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .select-field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 10px; /* Add margin left and right */
    min-width: 100px; /* Adjust the minimum width as needed */
  }
  